<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://win8056.site4now.net:8172/MsDeploy.axd?site=munasar-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>munasar-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>munasar-001</UserName>
    <_SavePWD>true</_SavePWD>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>
